<!DOCTYPE html>
<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>

<body>
  <h2>Here are all the blog posts</h2>
  <% postData.forEach(p => { %>
  <a href="/blog/<%=p.user.username%>/<%=p.id%>">

    <div>
      <%= p.title%>
    </div>
    <div>Written by
      <%= p.user.username %>
      <span>On
        <%= p.createdAt %></span>
    </div>
  </a>
  <% }) %>



</body>

</html>