<!DOCTYPE html>
<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>

<body>
  <%  if (user.username) { %>
  <nav>
    <ul>
      <li><a href="/logout">logout</a></li>
      <li><a href="/blog">See all posts</a></li>
    </ul>
  </nav>
  <% } %>
  <h1>Here are all the blog posts</h1>
  <% postData.forEach(p => { %>
  <div class="postWrapper">
    <a href="/blog/<%=p.user.username%>/<%=p.id%>">
      <h3>
        <%= p.title%>
      </h3>
      <p>Written by
        <%= p.user.username %>
        <span>On
          <%= p.createdAt %></span>
      </p>
    </a>
  </div>

  <% }) %>



</body>

</html>