<!DOCTYPE html>
<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>

<body>

  <%  if (userInfo.username) { %>
  <nav>
    <ul>
      <li><a href="/logout">logout</a></li>
      <li><a href="/blog">See all posts</a></li>
    </ul>
  </nav>
  <% } else { %>

  <li><a href="/blog">See all posts</a></li>
  <% }  %>
  <% if (userInfo && userInfo.username === postAuthor ) { %>
  <h1>Welcome
    <%= userInfo.username %> to your Blog</h1>
  <% } else { %>
  <h1>Welcome to
    <%= postAuthor %>'s Blog</h1>
  <% } %>
  <%  if (!posts.length ){ %>
  <%  if (userInfo.username) { %>
  <p>You have no posts yet </p>
  <a href='/create-post'>Create your first post</a>
  <%  } else { %>
  <p>No posts yet</p>
  <% } %>
  <%  } else { %>
  <h2>Here are the posts</h2>
  <% posts.forEach(post =>{ %>
  <a href="/blog/<%= postAuthor %>/<%= post.id %>">
    <div>
      <%= post.title%>
      <%= post.createdAt %>
    </div>
  </a>
  <% }) %>
  <%  if (userInfo.username) { %>
  <a href='/create-post'>Create a new post</a>
  <% } %>
  <% }  %>
</body>

</html>