<!DOCTYPE html>
<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>

<body>
  <%  if (user && user.username) { %>
  <nav>
    <ul>
      <li><a href="/logout">logout</a></li>
      <li><a href="/blog/<%=user.username%>">Your Blog</a></li>
      <li><a href="/blog">See all posts</a></li>
    </ul>
  </nav>
  <% } else { %>
  <nav>
    <ul>
      <li><a href="/blog">See all posts</a></li>
    </ul>
  </nav>
  <% } %>

  <% if (!post ) { %>
  <h1>No post with that Id</h1>
  <% } else { %>
  <div class="postWrapper">
    <h1>
      <%= post.title%>
    </h1>
    <div class="postBody">
      <%= post.body %>
    </div>
    <p>Published on
      <%= post.createdAt %>
    </p>
    <p>| Written by <a href="/blog/<%=post.user.username%>">
        <%= post.user.username %></a>
    </p>
  </div>

  <% if (post.comments && post.comments.length ) { %>
  <h3>Comments for this post</h3>
  <% post.comments.forEach(c =>{ %>
  <div>
    <%= c.comment %>
  </div>
  <p>Comment by
    <%= c.commentAuthor %>
  </p>
  <% }) %>
  <% } else { %>
  <p>No comments for this post yet :(</p>
  <% } %>
  <% if (user ) { %>
  <h2>Leave a comment</h2>
  <form method="POST" action="/new-comment" id="commentForm">
    <textarea type="text" placeholder="Your nice comment here" name="comment" form="commentForm" autocomplete="off"></textarea>
    <input type="hidden" name="postId" value="<%= post.id %>" />
    <input type="hidden" name="postAuthor" value="<%= post.user.username %>" />
    <button type="submit" class="nice">Post comment</button>
  </form>
  <% } %>
  <% } %>

</body>

</html>